*{
    margin: 0%;
    font-family: Arial;
    border: border-box;
}

.nevbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}
.nev-logo{
    height: 50px;
    width: 110;
}
.logo{
    background-image: url(images/amazon_logo.png);    
    height: 50px;
    background-size:cover ;
    width: 110;
    
}